body {
    background-image: url(https://i.postimg.cc/FRNrKMdt/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
  }
li , div a{
    color: aliceblue !important;
}
 *{
    color: aliceblue;
 }

#Home{
    margin-top: 200px;
}

#nav{
    position: fixed;
    top: 0px;
    z-index: 1000;
}
h1{
    text-align: center;
}

#text h4 p{
    color:white;
}
#text{
    position: absolute;
    top: 1020px;
    width: 920px;
    left: 280px;
    
}
#Aboutme{
    height: 450px;
    width: 950px;
    
}
.img11{
    height: 450px;
    width: 950px;
}


#Education{
    margin-top:30px;
    
}

#img1{
height: 200px;
}

#img2{
height: 200px;
}

#img3{
height: 200px;
}

#img4{
height: 200px;
}

#img5{
height: 200px;
}

#img6{
height: 200px;
}

.card-text{
color: black;
}

#Work{
    padding: 40px;
}


/* Skills */
----skills----
#skills{
    padding: 100px;
    background:transparent;
    color:transparent;
    text-align: center;
    /* background: transparent; */
    color: white;
    z-index: -1;
}
.rows{
    padding: 80px, 80px;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: blueviolet;
}
.sub-heading{
    font-size: 40px;
    font-weight: 300;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  .col{
    margin-bottom: 40px;
  }
 /* Projects */
#projects{
    margin-top: 10%;
}
#cont {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-warp : warp;
  padding : 30px;  
  margin-top: 3%;
}

#cont #card-project {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #5e657a;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
#cont #card-project:hover {
  height : 320px;    
}


#cont #card-project #image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

#cont #card-project #image img {
  max-width : 100%;
  border-radius : 15px;
}

#cont #card-project #content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;

}

#cont #card-project:hover #content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}
#content p{
    color: #111 ;
}

/*Testimonial*/

#Testimonials{
    padding: 100px;
    background:transparent;
    color:transparent;
    text-align: center;
    background: transparent;
    color: white;
    z-index: -1;
}
.rows{
    padding: 40px;
    color: #111;
}
.rows{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -100px;
}
.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: #111;
}
.sub-heading{
    font-size: 40px;
    font-weight: 300;
}
.flip-card-back{
    background:#111;
}

/*Contact*/
html {
    height: 100%;
  }
  body {
    margin-bottom: 50px;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(white);
  }
  .login-box {
    position: absolute;
    top: 910%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#a23ad8;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .login-box .user-box {
    position: relative;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03E9F4;
    font-size: 12px;
  }
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03E9F4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  .login-box a:hover {
    background: #0d2f80;
    color: #fff;
    border-radius: 5px;
  }
  .login-box a span {
    position: absolute;
    display: block;
  }
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff6ff);
    animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff6ff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff6ff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff6ff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

#card-body{
    margin-left: auto;
    margin-right: auto;
}